* {
  box-sizing: border-box;
}

body {
  background-color: $off-white;
  font-family: $sans-serif;
  color: $dark-blue;
  line-height: 1.4;
}


a {
  color: $blue-700;
  position: relative;
  text-decoration: none;

  &:before,
  &:after {
    content: '';
    position: absolute;
    transition: transform .25s ease;
  }

  &:before {
    background: $blue-700;
    bottom: 0;
    height: 2px;
    left: 0;
    transform: scaleX(0);
    width: 100%;
  }

  &:hover:before {
    transform: scaleX(1);
  }

  &.color-mid-gray:before {
    background: $mid-gray;
  }
}

.container {
  margin: 0 auto;
  max-width: 1320px;
  width: 92%;
}