// Background
.bg-off-white {
  background-color: $off-white;
}

// Text Color
.color-white {
  color: #fff;
}

.color-dark-blue {
  color: $dark-blue;
}

// Border Radius
.round {
  border-radius: 50%;
}