// Backgrounds
.bg-blue-dark {
  background-color: $blue-dark;
}

.bg-blue {
  background-color: $blue;
}

.bg-off-white {
  background-color: $off-white;
}

// Text Color
.color-white {
  color: #fff;
}