// Background
.bg-white {
  background-color: #fff;
}

.bg-off-white {
  background-color: $off-white;
}

.bg-dark-gray {
  background-color: $dark-gray;
}

.bg-darker-gray {
  background-color: $darker-gray;
}

// Text Color
.color-white {
  color: #fff;
}

.color-white-75 {
  color: rgba(255,255,255,0.75);
}

.color-white-50 {
  color: rgba(255,255,255,0.5);
}

.color-mid-gray {
  color: $mid-gray;
}

.color-dark-blue {
  color: $dark-blue;
}

// Border Radius
.round {
  border-radius: 50%;
}

// Border Bottom
.b-b\:off-white {
  border-bottom: 1px solid #f1f1f1;
}

// Screen reader text
.screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  width: 1px;
  word-wrap: normal !important;
}