// Breakpoints
$screen-lg: "(min-width: 920px)";
$screen-lg-down: "(max-width: 919px)";

// Colors
$dark-blue: #394B63;
$mid-gray: #9FA2B1;
$dark-gray: #31353D;
$darker-gray: #2D2E33;
$blue-500: #2196F3;
$blue-700: #1976D2;
$blue-800: #1565C0;
$green-500: #1CBF2E;
$off-white: #F9FAFC;

// Fonts
$sans-serif: 'Source Sans Pro', sans-serif;