.logo {
  margin-bottom: 0.5rem;

  @media #{$screen-sm} {
    margin-bottom: 0;
  }
}

.logo img {
  height: auto;
  width: 30px;
}

.header-container {
  flex-direction: column;

  @media #{$screen-sm} {
    flex-direction: row;
  }
}