.ReactTable {
  border: 0;
}

.ReactTable .rt-th,
.ReactTable .rt-td,
.ReactTable .rt-thead .rt-th,
.ReactTable .rt-thead .rt-td {
  padding: 20px 15px;
}

.ReactTable .rt-thead .rt-th,
.ReactTable .rt-thead .rt-td {
  color: $dark-blue;
  font-size: 14px;
  font-weight: 700;
}

.ReactTable .rt-tbody .rt-td,
.ReactTable .rt-thead .rt-th,
.ReactTable .rt-thead .rt-td {
  border-right: 0;
}

.ReactTable .rt-tbody .rt-tr-group{
  border-bottom: 5px solid $off-white;
}

.ReactTable .rt-th,
.ReactTable .rt-td {
  white-space: normal;
  display: flex;
  align-items: center;
}

.rt-tbody {
  background-color: #fff;
}

.ReactTable .rt-thead .rt-th,
.ReactTable .rt-thead .rt-td {
  border: 0;
  box-shadow: none !important;
}

.ReactTable .rt-thead .rt-th.-sort-desc:after,
.ReactTable .rt-thead .rt-th.-sort-asc:after {
  content: '';
	width: 0; 
  height: 0; 
  margin-left: 5px;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
}

.ReactTable .rt-thead .rt-th.-sort-desc:after {
  border-bottom: 5px solid $dark-blue;
}

.ReactTable .rt-thead .rt-th.-sort-asc:after {
  border-top: 5px solid $dark-blue;
}

.ReactTable .rt-thead,
.ReactTable .rt-tbody {
  min-width: 0 !important;
  max-width: 100%;
}

.ReactTable .rt-td {
  @media #{$screen-lg-down} {
    justify-content: flex-start;
    max-width: 100% !important;
    min-height: 35px;
    padding: 8px 12px 8px 160px;
    position: relative;
    width: 100% !important;

    &:before {
      font-weight: bold;
      left: 0;
      padding: 8px 12px;
      position: absolute;
      text-align: right;
      top: 0;
      width: 130px;
    }

    &:nth-child(5) {
      padding-top: 14px;
    }

    &:nth-child(1):before {
      content: "Conference";
    }

    &:nth-child(2):before {
      content: "Date(s)";
    }

    &:nth-child(3):before {
      content: "Location";
    }

    &:nth-child(4):before {
      content: "Continent";
    }

    &:nth-child(5):before {
      content: "CFP Open";
    }

    &:nth-child(6):before {
      content: "Travel";
    }

    &:nth-child(7):before {
      content: "Code of Conduct";
    }


  }
}

.ReactTable .rt-tr {
  flex-direction: column;
  padding: 10px 0;

  @media #{$screen-lg} {
    flex-direction: row;
    padding: 0;
  }
}

.ReactTable .rt-thead.-header {
  display: none;

  @media #{$screen-lg} {
    display: flex;
  }
}